<nav class="navbar navbar-expand-lg navbar-light bg-light">
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Erde</span>
</nav>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Получить визу <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Мои документы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Мои визы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
    </ul>
    <a class="button" href="#">Sign in</a>
  </div>
</nav>


<form>
  <div class="container">
 <div class="row">
   <div class="col">
  <div class="container-fluid">

   <div class="form-group">
     <label for="FormControlInput1">Is there any other information you wish <br> to be considered as part of your application?</label>
     <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in the main purpose of visiting the UK">
   </div>

   <div class="form-group">
     <label for="FormControlInput1">Have your ever received medical treatment in the UK?</label>
   </div>
   <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" id="customCheckInline1" name="customCheckInline1" class="custom-control-input">
    <label class="custom-control-label" for="customCheckInline1">Yes</label>
   </div>
   <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" id="customCheckInline2" name="customCheckline1" class="custom-control-input">
    <label class="custom-control-label" for="customCheckInline2">No</label>
   </div>

   <div class="form-group">
     <label for="FormControlInput1">Did you have to pay for the treatment?</label>
   </div>
   <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" id="customCheckInline3" name="customCheckInline3" class="custom-control-input">
    <label class="custom-control-label" for="customCheckInline3">Yes</label>
   </div>
   <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" id="customCheckInline4" name="customCheckline4" class="custom-control-input">
    <label class="custom-control-label" for="customCheckInline4">No</label>
   </div>

   <div class="form-group">
     <label for="FormControlInput1">Where did you received the treatment?</label>
     <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in the adress where did you received the treatment">
   </div>

   <div class="form-group">
     <label for="FormControlInput1">Name of hospital/clinic/Doctor's surgery:</label>
     <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in the name of hospital/clinic/Doctor's surgery">
   </div>

   <div class="form-group">
     <label for="FormControlInput1">Telephone number:</label>
     <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in your telephone number">
   </div>

   <button class="btn btn-primary" type="submit">Move to the Declaration</button>



  </div>

 </div>
</form>
