<div class="col-md-4 form-group visa-applications-form">
  <h2>
    <strong>Спасибо, мы собрали всю необходимую информацию!</strong>
  </h2>
  <h4>
      <div class="small-text">
        <small class="text-muted">Немного магии и вы получите готовую анкету.</small>
      </div>
  </h4>
</div>
