<div class="form-group">
         <label for="FormControlInput1">Which type of Visitor Visa are you applying for?</label> <br>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline5" name="customCheckInline5" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline5">Tourist</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline6" name="customCheckline6" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline6">Visit friend(s)</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline7" name="customCheckline7" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline7">Other (please specify)</label>
         </div>
         <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Specify the type of Visa">
       </div>

       <div class="form-group">
         <label for="FormControlInput1">How long do you want your visa to be valid for?</label> <br>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline8" name="customCheckInline8" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline8">6 months</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline9" name="customCheckline9" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline9">2 years</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline10" name="customCheckline10" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline10">5 years</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline11" name="customCheckInline11" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline11">10 years</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline12" name="customCheckline12" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline12">1 month<br>for permitted paid<br>engagements</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline13" name="customCheckline13" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline13">11 months<br>for private medical<br>treatment and English<br>lamguage study only</label>
         </div>
         <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="customCheckInline14" name="customCheckline14" class="custom-control-input">
          <label class="custom-control-label" for="customCheckInline14">12 months</label>
          <small id="passwordHelpBlock" class="form-text text-muted">
            for academic doing<br>research on sabbatical<br>leave and their<br>accompanying child,<br>spouse or partner
          </small>

          <div class=checkbox-help-text></div>
         </div>

         <div class="form-group">
           <label for="FormControlInput1">What is the main purpose of your visit to the UK?</label>
           <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in the main purpose of visiting the UK">
         </div>

         <div class="form-group">
           <label for="FormControlInput1">How long do you intend to stay in the UK?</label>
           <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in the duration of intandind of the UK">
         </div>
    </div>
  </form>
  </body>
</html>
