<div class="col-md-4 form-group visa-applications-form">
  <h2>
    <strong>Добро пожаловать</strong>
  </h2>
  <h4>
      <div class="small-text">
        <small class="text-muted">Войдите,чтобы начать путешествовать</small>
      </div>
  </h4>
    <div class="small-text-2">
      <small class="text-muted">————— Войдите с помощью e-mail —————</small>
    </div>
    <h4>
      <strong>Email</strong>
    </h4>
    <input type="textanswer" class="form-control col-md-12" id="FormControlInput1" placeholder="Email адрес">
    <h4>
      <strong>Пароль</strong>
    </h4>
    <input type="textanswer" class="form-control col-md-12" id="FormControlInput1" placeholder="Пароль">
    <div class="small-text-3">
      <small class="text-muted">Забыли пароль?</small>
    </div>

    <button type="button" class="btn btn-primary">Войти</button>

</div>


  <%= image_tag("illustration1.png", class: "img-responsive illustration1") %>
