<div class="col-md-12 form-progress-bar">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress" style="height: 9px;">
    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>


<form>
  <div class="col-md-12 form-group visa-applications-form">
    <h4>
      <strong>Семейное положение</strong>
    </h4>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Холост/ не замужем</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Женат/ замужем</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Не проживает с супругом</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">Разведён (-а)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
        <label class="form-check-label" for="inlineRadio5">Вдовец (вдова)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
        <label class="form-check-label" for="inlineRadio6">Другое (уточните)</label>
      </div>
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Уточните семейное положение">
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <h4>
      <strong>Для несовершеннолетних: фамилия / имя / адрес</strong>
      <small class="text-muted">(если отличается от адреса заявителя)</small>
      <strong>и гражданство лица с полномочием родителя / законного представителя</strong>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите фамилию, имя, адрес законного представителя">
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <h4>
      <strong>Идентификационный номер</strong>
      <small class="text-muted">(если имеется)</small>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите идентификационный номер">
  </div>

  <div class="col-md-7 visa-applications-button">
    <%= link_to 'Далее', visa_applications_path(:step => "12"), class: "btn btn-primary"%>
  </div>

</form>
