<div class="col-md-12 form-progress-bar">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress" style="height: 9px;">
    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<form>

  <div class="col-md-12 form-group visa-applications-form">
    <h6>
      <strong>Type of trevel document</strong>
    </h6>
    <!-- <label><input type="radio" name="radio" class="as-checkbox">Ordinary passport</label>
    <label><input type="radio" name="radio" class="as-checkbox">Diplomatic passport</label>
    <label><input type="radio" name="radio" class="as-checkbox">Service passport</label>
    <label><input type="radio" name="radio" class="as-checkbox">Official passport</label>
    <label><input type="radio" name="radio" class="as-checkbox">Special passport</label>
    <label><input type="radio" name="radio" class="as-checkbox">Other (please specify)</label> -->
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" id="customCheckInline1" name="customCheckInline1" class="custom-control-input">
      <label class="custom-control-label" for="customCheckInline1">Ordinary passport</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" id="customCheckInline2" name="customCheckline2" class="custom-control-input">
      <label class="custom-control-label" for="customCheckInline2">Diplomatic passport</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" id="customCheckInline3" name="customCheckline3" class="custom-control-input">
      <label class="custom-control-label" for="customCheckInline3">Service passport</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" id="customCheckInline4" name="customCheckInline4" class="custom-control-input">
      <label class="custom-control-label" for="customCheckInline4">Official passport</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" id="customCheckInline5" name="customCheckline5" class="custom-control-input">
      <label class="custom-control-label" for="customCheckInline5">Special passport</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" id="customCheckInline6" name="customCheckline6" class="custom-control-input">
      <label class="custom-control-label" for="customCheckInline6">Other (please specify)</label>
    </div>
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Specify the type document number">
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <h6>
      <strong>Travel document number</strong>
    </h6>
    <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in travel document number">
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <h6>
      <strong>Date of issue</strong>
    </h6>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="dates">
      <div class="start_date input-group mb-4">
        <input class="form-control start_date" type="date" id="startdate_datepicker">
      </div>
    </div>
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <h6>
      <strong>Valid until</strong>
    </h6>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="dates">
      <div class="start_date input-group mb-4">
        <input class="form-control start_date" type="date" id="startdate_datepicker">
      </div>
    </div>
  </div>

  <div class="form-group col-md-7 form-group visa-applications-form">
    <h6>
      <strong>Issued by</strong>
    </h6>
    <input type="textanswer" class="form-control" id="FormControlInput1" placeholder="Type in issue">
  </div>

  <div class="col-md-7">
    <%= link_to 'Далее', visa_applications_path(:step => "13"), class: "btn btn-primary"%>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</form>
