<div class="col-md-12 form-progress-bar">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress" style="height: 9px;">
    <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<div class="col-md-7">
<form>
  <div class="form-group visa-applications-form">
    <h4>
      <strong>Фамилия</strong>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите вашу фамилию">
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Фамилия при рождении</strong>
      <small class="text-muted">(предыдущая / -ие фамилии)</small>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите вашу фамилию при рождении">
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Имя</strong>
      <small class="text-muted">(имена)</small>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите ваше имя(имена)">
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Дата рождения</strong>
    </h4>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="dates">
      <div class="start_date input-group mb-4">
        <input class="form-control start_date col-md-9" type="date" id="startdate_datepicker">
      </div>
    </div>
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Место рождения</strong>
    </h4>
    <input type="textanswer" class="form-contro col-md-9" id="FormControlInput1" placeholder="Введите ваше место рождения">
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Страна рождения</strong>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите вашу страну рождения">
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Текущее гражданство</strong>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите ваше текущее гражданство">
  </div>

  <div class="form-group visa-applications-form">
    <h4>
      <strong>Гражданство при рождении</strong>
      <small class="text-muted">(если отличается)</small>
    </h4>
    <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" placeholder="Введите ваше гражданство при рождении">
  </div>

  <div class="form-group visa-applications-form visa-applications-checkbox">
    <h4>
      <strong>Пол</strong>
    </h4>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Мужской</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Женский</label>
  </div>

  <div class="visa-applications-button">
    <%= link_to 'Далее', visa_applications_path(:step => "11"), class: "btn btn-primary"%>
  </div>

</form>
</div>
