<div class="col-md-7">
<form>
  <% @questions.each do |question| -%>
    <div class="form-group visa-applications-form">
      <h4>
        <strong><%= question.title %></strong>
      </h4>
      <% question.question_options.each do |question_option| -%>
        <input type="textanswer" class="form-control col-md-9" id="FormControlInput1" name="option_<%= question_option.id %>">
      <% end %>

    </div>
  <% end %>
  <%= link_to 'Move to the Declaration', visa_applications_path(:step => "2"), class: "btn btn-primary" %>

</form>
</div>