div.form-progress-bar {
  margin: 20px 0 50px;
}

div.progress {
  margin-top: 35px;
}

div.progress-bar {
  background-color: #0015FF;
}

.visa-applications-form {
  margin: 50px 0;
}

small.help-text {
  width: 100%;
  display: block;
}

.small-text {
  margin: 20px 0 20px;
}

.small-text-2 {
  margin: 30px 0 50px;
}

.form-control {
  margin: 10px 0 30px;
}

.small-text-3 {
  color: #0015FF
}

.center-text {
  text-align: center
}

.visa-applications-button {
  outline: none;
  margin: 50px 0 80px;
  color: #0015FF
}

button:hover {
  box-shadow: none !important;
  background: #0113e2 !important;
  outline: 0 !important;
  border-color: #0113e2 !important;
}

.btn-primary {
  margin: 30px 0 30px;
  background-color: #0015FF;
  border-radius: 30px;
  border-color: #0015FF;
  width: 200px;
}

input:hover {
  box-shadow: none !important;
  border-color: #0015FF !important;
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
  border-color: #0015FF !important;
  outline: none !important;
}

.image {
  margin-top: -30px;
  text-align: center
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 5px;
  border: 1px solid #0015ff;
  background-color: #f8f8f8;
  border-radius: 10%;
}


input[type="radio"]:checked + label:before {
  background-color: #0015ff;
}

.form-control.valid-value {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  background-image: url("2.png");
}