div.form-progress-bar {
  margin: 20px 0 50px;
}

div.progress {
  margin-top: 35px;
}

.visa-applications-form {
  margin: 50px 0;
}

small.help-text {
  width: 100%;
  display: block;
}

.visa-applications-button {
  margin: 50px 0 80px;
}
