div.form-progress-bar {
  margin: 20px 0 50px;
}

div.progress {
  margin-top: 35px;
}

div.progress-bar {
  background-color: #0015FF;
}

.visa-applications-form {
  margin: 50px 0;
}

.visa-applications-form-2 {
  margin: 50px 0 0 -90px;
}

small.help-text {
  width: 100%;
  display: block;
}

.small-text {
  margin: 20px 0 20px;
}

.small-text-2 {
  margin: 30px 0 50px;
}

.form-control {
  margin: 10px 0 30px;
}

.small-text-3 {
  color: #0015FF
}

.center-text {
  text-align: center
}

.visa-applications-button {
  outline: none;
  margin: 50px 0 80px;
  color: #0015FF
}

button:hover {
  box-shadow: none !important;
  background: #0113e2 !important;
  outline: 0 !important;
  border-color: #0113e2 !important;
}

.btn-primary {
  margin: 30px 0 30px;
  background-color: #0015FF;
  border-radius: 30px;
  border-color: #0015FF;
  width: 200px;
}

input:hover {
  box-shadow: none !important;
  border-color: #0015FF !important;
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
  border-color: #0015FF !important;
  outline: none !important;
}

.image {
  margin-top: -30px;
  text-align: center
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 5px;
  border: 1px solid #0015ff;
  background-color: #f8f8f8;
  border-radius: 10%;
}


input[type="radio"]:checked + label:before {
  background-color: #0015ff;
}

.form-control.valid-value {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  background-image: url("2.png");
}

.image-country-1 img{
  text-align: center;
  height: 270px;
  margin-left: 20px;
  border-radius: 5px;
}

.cust img{
  height: 96px;
  margin-left: -180px;
  margin-top: -60px;
  margin-bottom: -313px;
}

.image-country-2 img{
  text-align: center;
  height: 270px;
  margin-left: 80px;
  border-radius: 5px;
}

div.country-small-text {
  margin-left: 20px;
  margin-top: 20px;
}

div.country-small-text-1 {
  margin-left: 20px;
  margin-top: 5px;
}


div.country-small-text-2 {
  margin-left: 20px;
  margin-top: 5px;
}

.image-country-3 img{
  text-align: center;
  height: 270px;
  width: 430px;
  margin-left: 4px;
  border-radius: 5px;
}

.image-country-4 img{
  text-align: center;
  height: 270px;
  margin-left: 80px;
  border-radius: 5px;
}

.image-selected img{
  text-align: center;
  height: 740px;
  margin-left: 25px;
  border-radius: 5px;
}

.image-on-flow img{
  text-align: center;
  height: 270px;
  margin-left: 20px;
  border-radius: 5px;
}

div.input-2 {
  margin-left: 638px;
}

.visa-applications-button-flow {
  outline: none;
  margin: 50px 0 80px;
  color: #0015FF
}



.btn-primary-finish-flow {
  background-color: #0015FF;
  border-radius: 30px;
  width: 200px;
  color: white;
}

.center-button {
  text-align: center
}



.greatbtn:hover {
  box-shadow: none !important;
  background: #0113e2 !important;
  outline: 0 !important;
  border-color: #0113e2 !important;
}

div.inputtt {
  margin-left: 659px;
  margin-top: -170px;
}

.btn-primary-finish-2 {
  width: 200px;
  margin-top: 10px;
  margin-left: 18px;
}

div.input-2 {
  margin-left: 619px;
  margin-top: -412px;
  margin-bottom: 50px;
}

.btn-primary-finish-3 {
  width: 200px;
  margin-left: 632px;
  margin-top: -40px;
  margin-bottom: 60px;
}

.btn-primary-finish-5 {
  width: 200px;
  margin-left: 632px;
  margin-bottom: 60px;
  margin-top: 8px;
}

div.input-3 {
  margin-top: 30px;
  margin-left: -16px;
}

div.input-4 {
  margin-top: -136px;
  margin-left: 616px;
}


.btn-primary-finish-4 {
  width: 200px;
  margin-left: 8px;
  margin-top: -246px;
}

div.photo-container {
  display: inline-flex;
  margin-left: -34px;
  margin-top: 30px;
}


.image-country-1 img{
  text-align: center;
  height: 270px;
  margin-left: 20px;
  border-radius: 5px;
}

div.name-1{
  margin-left: 20px;
  margin-top: 35px;
  text-align: start;
}

div.text-container {
  margin-left: 20px;
  margin-top: 25px;
  text-align: start;
  overflow-x: auto;
}



.image-country-1 img{
  text-align: center;
  height: 270px;
  width: 410px;
  margin-left: 20px;
  border-radius: 5px;
}



.text-muted {
  font-size: 15px;
}


.text-muted-2 {
  font-size: 80%;
  font-weight: 400;
  color: #6c757d !important;
}

.circle {
  border-radius: 50%;
  background-color: blue;
  width: 40px;
  height: 40px;
  margin-top: -37px;
  margin-left: 270px;
  color: white;
  font-size: 30px;
}

.✈️ {
  margin-left: 270px;
  margin-top: -34px;
}


.✈️-2 {
  margin-top: -47px;
  text-align: center;
  font-size: 30px;
}




.text-muted-3 {
  font-size: 80%;
  font-weight: 400;
  color: #6c757d !important;
}

div.photo-container-2 {
  display: inline-flex;
  margin-top: 30px;
  margin-left: -90px;
}

.image-country-check img {
  text-align: center;
  height: 270px;
  margin-left: 20px;
  border-radius: 5px;
}

div.row-2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -75px;
  margin-left: -70px;
}

.finbtn {
  color: white;
  margin: 30px 0 30px;
  background-color: #0015FF;
  border-radius: 30px;
  border-color: #0015FF;
  width: 250px;
  height: 40px;
}

.finbtn:hover {
  color: white;
  box-shadow: none !important;
  background: #0113e2 !important;
  outline: 0 !important;
  border-color: #0113e2 !important;
}

.landingimage {
  margin-left: -165px;
  width: 50%;
}

.registrationimg {
  margin-top: -350px;
  margin-left: 500px;
}

.autofocus {
  background-color: blue;
}

.imglanding {
  text-align: center;
  height: 1020px;
  margin-left: -180px;
  border-radius: 0;
}

.center-image img {
  margin-left: -165px;
  height: 5800px;
  width: 1440px;
}
