<br>


<div class="col-md-12 form-group visa-applications-form center-text">
  <h2>
    <strong>Нью-Йорк, США</strong>
  </h2>
  <h4>
      <div class="small-text test-text">
        <small class="text-muted-2">Давайте начнём с выбора страны для путешествия.  Мы соберём все документы за Вас. <br> Срок подачи визы: 7-14 дней.  Стоимость: 100 евро.</small>
      </div>
  </h4>
</div>


  <div class="visa-applications-button-flow center-button">
    <%= link_to 'Заполнить анкету', visa_application_path(Form.find(1), step: "1"), class: "btn btn-primary greatbtn" %>
  </div>

  <div class="image-selected">
      <%= image_tag("jon-flobrant-4056-unsplash.jpg", :alt => "rss feed") %>
  </div>



  <br>
  <br>
  <br>
  <br>


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text">
          <h4>
            <strong>Правила подачи документов</strong>
          </h4>
        </div>
      </div>
      <div class="col">
        <div class="text-2">

            <h5>Список необходимых документов</h5>

          <h5>
            <small class="text-muted">Паспорт, справка НДФЛ, билеты, подтверждение брони отеля, анкета, документ о личных доходах и справка с работы или места учёбы </small>
          </h5>

          <br>
          <br>

          <h5>Срок подачи документов</h5>
        <h5>
          <small class="text-muted">За две недели до выезда</small>
        </h5>
        <br>
        <br>


        <h5>Готовность визы</h5>

      <h5>
        <small class="text-muted">Три или четвыре недели с момента подачи документов</small>
      </h5>
      <br>
      <br>

        </div>
      </div>
    </div>

<br>

    <hr align="right" width="100%" size="3" color="#E2E2E2" />


<br>
<br>
<br>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text">
            <h4>
              <strong>Другие места, которые мы любим</strong>
            </h4>

          <br>
          <h5>
            <small class="text-muted">Город в США на юге штата Калифорния, находящийся <br> на берегу Тихого океана. Крупнейший по численности <br> населения в штате и второй — в стране. Город является <br> административным центром одноимённого округа,<br> а также центром Большого Лос-Анджелеса<br> — агломерации с населением более 17 млн человек.<br> <br>Жителей Лос-Анджелеса называют «Angelenos». <br>Лос-Анджелес является одним из крупнейших мировых <br>культурных, научных, экономических, образовательных <br>центров. Также город — один из крупнейших мировых <br>центров индустрии развлечений в сфере кино, театра,<br> музыки, литературы и телевидения. <br><br> На берегу океана шмакиана хочу серфить.</small>
          </h5>
          <br>
          <br>
          </div>
        </div>

        <div class="image-on-flow">
            <%= image_tag("photo-1517760444937-f6397edcbbcd-2.jpeg", :alt => "rss feed") %>
        </div>

      </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
        <div class="inputtt">
            <h5>
                <div class="small-text-1 test-text_2">
                  <small class="text-muted">Швейцария</small>
                </div>
            </h5>

            <h4>
              <div class="small-text-1-2 test-text_2">
              <strong>Бёрн</strong>
              </div>
            </h4>

            <h5>
                <div class="small-text-1-2-3 test-text">
                  <small class="text-muted">Стоимость: 35 € за две недели • <br> Вероятность получения: 80%</small>
                </div>
            </h5>


            <br>
            <br>


            <br>
            <br>

            </div>
    </div>
