<div class="col-md-12 form-group visa-applications-form center-text">
  <h2>
    <strong>Дарова, я страничка о стране</strong>
  </h2>
  <h4>
      <div class="small-text test-text">
        <small class="text-muted">Давайте начнём с выбора страны для путешествия.  Мы соберём все документы за Вас. <br> Срок подачи визы: 7-14 дней.  Стоимость: 100 евро.</small>
      </div>
  </h4>
</div>
 <br>
  <br>
