<div class="landingimage">
  <%= image_tag("landing.jpg", :alt => "rss feed") %>
</div>

<div class="visa-applications-button-flow center-button">
  <%= link_to 'Получить визу', (:choose_country), class: "btn finbtn" %>
</div>
